@import './buefy-extension.scss';

:root {
  --dogs-theme: #37C49F;
  --paper-color: #FFF9F5;
  --paper-color-bis: #FAF4F0;
  --paper-color-ter: #F5EFEB;
  --paper-invert: #{$black};
  --paper-invert-bis: #{$black-bis};
  --paper-invert-ter: #{$black-ter};
}
