/* base colors.
 *
 * we have to configure base colors before importing Bulma and Buefy.
 *
 * Bulma derives color palettes from these base colors.
 *
 * you cannot use CSS variables here, because they are processed by Bulma SCSS
 * functions during compilation.
 */
$primary: #37C49F;
$warning: #E8E041;
$danger: #C43F37;

@use 'bulma/sass';
@use 'buefy/src/scss/buefy.scss';

/* extends Buefy styles. */
.button {
  &.is-rounded {
    &.is-circle-icon {
      padding-left: var(--bulma-button-padding-horizontal);
      padding-right: var(--bulma-button-padding-horizontal);
    }
  }
}

.icon {
  svg {
    width: 100% !important;
    height: 100% !important;
  }
}

.modal {
  .modal-close {
    background-color: color-mix(in hsl, var(--bulma-scheme-invert) 20%, transparent);
    &:hover,
    :focus {
      background-color: color-mix(in hsl, var(--bulma-scheme-invert) 30%, transparent);
    }
    &:active {
      background-color: color-mix(in hsl, var(--bulma-scheme-invert) 40%, transparent);
    }
  }

  /* fullscreen activated only on a small screen. */
  &.is-full-screen-mobile {
    @media screen and (max-width: 768px) {
      > .animation-content,
      > .animation-content > .modal-card {
        width: 100%;
        min-height: 100vh;
        margin: 0;
      }

      > .animation-content {
        > .card,
        .modal-card {
          border-radius: 0px;
          min-height: 100%;
        }
      }
    }
  }
}
