@use 'maplibre-gl/dist/maplibre-gl.css';
@use './base.scss';
@use './maplibre-extension.scss';

:root {
  background-color: var(--dogs-theme);
}

.paper {
  background-color: var(--paper-color);

  &.maplibregl-popup {
    background-color: transparent;
  }

  .maplibregl-popup-content {
    background-color: var(--paper-color);
  }

  &.maplibregl-popup-anchor-bottom,
  &.maplibregl-popup-anchor-bottom-left,
  &.maplibregl-popup-anchor-bottom-right {
    .maplibregl-popup-tip {
      border-top-color: var(--paper-color);
    }
  }
  &.maplibregl-popup-anchor-top,
  &.maplibregl-popup-anchor-top-left,
  &.maplibregl-popup-anchor-top-right {
    .maplibregl-popup-tip {
      border-bottom-color: var(--paper-color);
    }
  }
  &.maplibregl-popup-anchor-left {
    .maplibregl-popup-tip {
      border-right-color: var(--paper-color);
    }
  }
  &.maplibregl-popup-anchor-right {
    .maplibregl-popup-tip {
      border-left-color: var(--paper-color);
    }
  }
}

.box {
  &.welcome-box {
    --bulma-box-radius: 0px;
    --bulma-box-shadow: 0px 0px 100px 1px color-mix(in srgb, var(--bulma-scheme-invert) 30%, transparent);
    min-height: 100vh;
  }
}

/* label that triggers a tooltip should be wide enough so that the tooltip is
 * not cropped by the left edge of a mobile screen.
 */
.tooltip-trigger-label {
  min-width: 12rem;
}
