@use 'maplibre-gl/dist/maplibre-gl.css';
@use './base.scss';
@use './maplibre-extension.scss';

:root {
  background-color: var(--dogs-theme);
}

.paper {
  background-color: var(--paper-color);

  .maplibregl-popup-tip {
    border-top-color: var(--paper-color);
  }
  .maplibregl-popup-content {
    background-color: var(--paper-color);
  }
}

.box {
  &.welcome-box {
    --bulma-box-radius: 0px;
    --bulma-box-shadow: 0px 0px 100px 1px color-mix(in srgb, var(--bulma-scheme-invert) 30%, transparent);
    min-height: 100vh;
  }
}
